<div class="about-main">
  <h2>Reliefとは</h2>
  <p>
    2025年問題。<br>
    これは団塊の世代(1947~1949年生まれ)が75歳以上になる年です。<br>
    2025年には後期高齢者人口が約2200万人に膨れ上がり、<br>
    国民の4人に1人が75歳以上の計算になります。<br>
    その影響で医療機関のパンクが懸念されますが、<br>
    入院患者の増加に応える急激な増床等は現実的ではありません。<br><br>
    そこで国は医療の提供を大病院ではなく地域主体で提供するように<br>
    「地域包括ケアシステム」の構築を提唱し、<br>
    現在その体制作りが進められています。<br><br>
    この地域包括ケアシステムは<br>
    地域の高齢化等の実情に応じた病床の機能分化・連携を進めることで、<br>
    効率的な医療提供体制を構築することを目的としており、<br>
    従来の「入院⇒外来」から「入院⇔施設・自宅」へと<br>
    医療提供体制をシフトさせようという動きがあります。<br><br>
    しかし、その医療機能の分化と施設間の連携に課題があるために、<br>
    まだまだ普及していないのが現状です。<br><br>

    そこでReliefは<br>
    課題の1つである"施設間の連携"に着目し<br>
    より効率的で質の高い医療提供のために<br>
    患者、医療従事者、介護従事者間のネットワークを構築し<br>
    活発な情報共有による連携強化を援助します。<br>
  </p>
</div>

<footer>
  <div class="container">
    <img src="/FURUICHILAB.jpg">
    <p>Reassuring Care, Relief to Inclusion</p>
  </div>
</footer>
