<div class="main top-main">
    <div class="top-message">
    <h1>REASSURING CARE.</h1>
    <h1>RELIEF TO INCLUSION.</h1>
    <p>ReliefはオンラインケアシステムSNSです。</p>
    <p>効率的な医療提供体制の構築のために地域包括システムの普及に貢献します。</p>
  </div>
</div>

<footer>
  <div class="container">
    <img src="/FURUICHILAB.jpg">
    <p>Reassuring Care, Relief to Inclusion</p>
  </div>
</footer>
